# Introduction to Python 30 Jan 2020 - David Mak

## Simple Calculations in Python

In [3]:
5+105

110

In [4]:
5*5

25

In [29]:
print('You are the best, around. Slow learning curve, then step when have all basics')

You are the best, around. Slow learning curve, then step when have all basics

In [ ]:
# Saves as Python NB file for Jupyter. Find by searching Session1 from Windows and right click open file location. For Python file Download as Python file'

## Arithmetic Operators

In [11]:
34 + 57 * 3

205

In [12]:
24 / 4

6.0

In [15]:
77/10

7.7

In [13]:
77 //  10

7

In [17]:
77 % 7

0

In [18]:
10/3

3.3333333333333335

In [21]:
# Note simple division innacurate due to computer. 
# Have to use floor division, remainder, and print to generate answer such as '10 / 3 is 3 with remainder 1'
# See shared note

In [ ]:
# Have to press Shift and Enter to run code and create headings

## Concatenation

In [24]:
# +

## Variables

In [25]:
# str int float bool

## Casting

In [26]:
a=35

In [27]:
print('fred'+str(a))

fred35

In [28]:
# changes type of variable to allow printing for example

In [30]:
# Exercise 2.0

In [31]:
score1 = 25

In [32]:
score2 = 12

In [39]:
score1 + score2

37

In [34]:
score1 - score2

13

In [35]:
score1 * score2

300

In [36]:
score2 ** 4

20736

In [37]:
score1 / 3

8.333333333333334

In [38]:
score2 / 7

1.7142857142857142

In [51]:
# Exercise 3.0

In [52]:
student = 70
maximum = 120

In [53]:
percent = (student / maximum) * 100

In [57]:
print(round(percent,2),'%')

58.33 %

In [58]:
# Comma within print function acts as a space. Cannot use add since not the same data type and not an addition

## User Input

In [2]:
userInput = input

In [ ]:
# Note for variable two words, userInput is camel script

In [ ]:
# Exercise 5.0

In [10]:
userName = input("Your name is: ")

Your name is: Santa Claus

In [27]:
userAge = int(input("You are how old?! "))

You are how old?! 82

In [29]:
# Note input is a string unless we state otherwise

In [28]:
print('Hello',userName,'you are',userAge,'years old. In 12 years you will be',(userAge+12),'years old!')

Hello Santa Claus you are 82 years old. In 12 years you will be 94 years old!

In [18]:
# Exercise 5.1

In [34]:
Year = int(input("What year is it? "))
print('72 years ago it was the year',(Year-72))

What year is it? 2020
72 years ago it was the year 1948

In [11]:
# Exercise 3.0

In [ ]:
print('Welcome to the Meal Price Splitter, Dave Inc.')

In [6]:
seats = int(input('How many people were part of the table? '))

How many people were part of the table? 8

In [5]:
cost = float(input('How much did the bill come to in pounds? '))

How much did the bill come to in pounds? 312.12

In [7]:
costInd = cost / seats

In [10]:
print('Each person should pay £',costInd,'each.')

Each person should pay £ 39.015 each.